#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 5
#define SCROLL 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <0 10>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <29 30>;
        };

        L_PAR {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <11 12>;
        };

        R_PAR {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <12 13>;
        };

        L_BRK {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <1 2>;
        };

        R_BRK {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <2 3>;
        };

        RF_F2 {
            bindings = <&kp F2>;
            key-positions = <3 13>;
        };

        DE_F4 {
            bindings = <&kp F4>;
            key-positions = <2 12>;
        };

        CTRL_C {
            bindings = <&kp LC(C)>;
            key-positions = <12 23>;
        };

        CTRL_SFT_V {
            bindings = <&kp LS(LC(V))>;
            key-positions = <13 24>;
        };

        CTRL_ALT_V {
            bindings = <&kp RC(RA(K_VOLUME_UP))>;
            key-positions = <22 23 24>;
        };

        CTRL_V {
            bindings = <&kp LC(V)>;
            key-positions = <24 23>;
        };

        SC_HASH {
            bindings = <&kp HASH>;
            key-positions = <9 20>;
        };

        OL_DOLLAR {
            bindings = <&kp DOLLAR>;
            key-positions = <8 19>;
        };

        IK_PCT {
            bindings = <&kp PERCENT>;
            key-positions = <7 18>;
        };

        UJ_AND {
            bindings = <&kp AMPERSAND>;
            key-positions = <6 17>;
        };

        JM_STAR {
            bindings = <&kp ASTERISK>;
            key-positions = <17 29>;
        };

        CTRL_SFT_K {
            bindings = <&kp LS(LC(K))>;
            key-positions = <18 30>;
        };

        SC_PLUS {
            bindings = <&kp PLUS>;
            key-positions = <32 31>;
        };

        CTRL_SFT_L {
            bindings = <&kp LS(LC(L))>;
            key-positions = <19 31>;
        };

        SC_SLASH {
            bindings = <&kp SLASH>;
            key-positions = <8 9>;
        };

        CTRL_SFT_X {
            bindings = <&kp LS(LC(X))>;
            key-positions = <14 13>;
        };

        SC_EXC {
            bindings = <&kp EXCLAMATION>;
            key-positions = <17 18>;
        };

        SC_QUESTION {
            bindings = <&kp QUESTION>;
            key-positions = <18 19>;
        };

        WIN_E {
            bindings = <&kp LG(E)>;
            key-positions = <0 1 2>;
        };

        CTRL_Z {
            bindings = <&kp LC(Z)>;
            key-positions = <21 22>;
        };

        SC_F12 {
            bindings = <&kp F12>;
            key-positions = <1 11>;
        };

        MO_BTH {
            bindings = <&mo 5>;
            key-positions = <15 27>;
        };

        MO_SCR {
            bindings = <&mo 6>;
            key-positions = <31 30>;
        };

        CTRL_X {
            bindings = <&kp LC(X)>;
            key-positions = <22 11>;
        };

        SC_SFT {
            bindings = <&kp LSHFT>;
            key-positions = <10 11>;
        };

        SC_SCS_ESC {
            bindings = <&mt LG(LS(S)) ESCAPE>;
            key-positions = <0 0 1>;
        };

        CTRL_Y {
            bindings = <&kp LC(Y)>;
            key-positions = <6 5>;
        };

        GRPING {
            bindings = <&kp LS(LA(RIGHT_ARROW))>;
            key-positions = <7 19>;
        };

        UNGRPING {
            bindings = <&kp LS(LA(LEFT_ARROW))>;
            key-positions = <7 17>;
        };

        SC_CTRL {
            bindings = <&kp LCTRL>;
            key-positions = <10 21>;
        };

        CTRL_SFT_R {
            bindings = <&kp LS(LC(R))>;
            key-positions = <4 3>;
        };

        MO_SHEET {
            bindings = <&mo 7>;
            key-positions = <31 30 29>;
        };
    };

    macros {
        email_work: email_work {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp H &kp I &kp R &kp O &kp K &kp I &kp N &kp A &kp K &kp A &kp J &kp O &kp AT &kp K &kp P &kp M &kp G &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL_WORK";
        };

        email_private: email_private {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp H &kp DOT &kp N &kp A &kp K &kp A &kp J &kp O &kp N0 &kp N8 &kp N2 &kp N4 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL_PRIVATE";
        };
    };

    behaviors {
        layer_1_2: layer_1_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_1_2";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mo 2>;

            tapping-term-ms = <300>;
        };

        quartation: quartation {
            compatible = "zmk,behavior-tap-dance";
            label = "QUARTATION";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp DOUBLE_QUOTES>;

            tapping-term-ms = <250>;
        };

        jp_en: jp_en {
            compatible = "zmk,behavior-tap-dance";
            label = "JP_EN";
            #binding-cells = <0>;
            bindings = <&kp LANG1>, <&kp LANG2>;

            tapping-term-ms = <250>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R           &kp T                                             &kp Y       &kp U  &kp I      &kp O    &kp P
&kp A      &kp S         &kp D         &kp F           &kp G                              &quartation    &kp H       &kp J  &kp K      &kp L    &mt GRAVE MINUS
&kp Z      &kp X         &kp C         &kp V           &kp B      &mt RIGHT_ALT DELETE    &jp_en         &kp N       &kp M  &kp COMMA  &kp DOT  &mt SEMICOLON COLON
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp SPACE  &kp ENTER               &kp BACKSPACE  &layer_1_2                             &kp ENTER
            >;

            sensor-bindings = <&none>;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans           &kp PG_UP         &kp UP_ARROW      &kp PAGE_DOWN     &trans
&trans  &trans  &trans  &trans  &trans            &trans  &kp RCTRL        &kp LEFT_ARROW    &kp DOWN_ARROW    &kp RIGHT_ARROW   &kp RC(RIGHT_SHIFT)
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp RIGHT_SHIFT  &kp LA(NUMBER_1)  &kp LA(NUMBER_2)  &kp LA(NUMBER_3)  &kp LA(NUMBER_4)
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                                                 &trans
            >;

            sensor-bindings = <&none>;
        };

        NUM {
            bindings = <
&kp F12  &kp F11  &kp F10  &kp F9  &none                     &none      &kp N7        &kp N8        &kp N9        &kp BACKSPACE
&kp F8   &kp F7   &kp F6   &kp F5  &none             &trans  &kp COMMA  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp RC(RIGHT_SHIFT)
&kp F4   &kp F3   &kp F2   &kp F1  &none   &none     &trans  &kp DOT    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0
&trans   &trans   &trans   &trans  &trans  &trans    &trans  &trans                                               &trans
            >;

            sensor-bindings = <&none>;
        };

        layer_3 {
            bindings = <
&trans  &kp LC(LS(TAB))     &kp PRINTSCREEN         &kp LC(TAB)              &trans                                     &trans  &kp HOME        &kp UP_ARROW    &kp END          &trans
&trans  &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)     &kp LC(LG(LEFT_ARROW))   &kp LC(LG(RIGHT_ARROW))            &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &kp LEFT_SHIFT      &kp LG(LS(LEFT_ARROW))  &kp LG(LS(RIGHT_ARROW))  &trans                   &trans    &trans  &trans  &kp DELETE      &kp PAGE_UP     &kp PAGE_DOWN    &trans
&trans  &trans              &trans                  &trans                   &trans                   &trans    &trans  &trans                                                   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        BTH {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans        &email_work   &email_private  &trans        &trans
&trans  &trans  &trans  &trans  &trans            &trans  &bt BT_SEL 0  &bt BT_SEL 2  &bt BT_SEL 1    &bt BT_SEL 3  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans          &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                                    &bt BT_CLR_ALL
            >;

            sensor-bindings = <&none>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans    &trans    &mkp MB5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                              &mkp MB4
            >;

            sensor-bindings = <&none>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&none>;
        };

        SHEET {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };
    };
};
